/* body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #e2eff7;
} */
.sign-in-error{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.error-message-area{
    margin-top: 150px;
}

h2.error{
    font-size: 3rem;
}
p.error{
    font-size: 1.5rem;
    margin-top: 30px;
}
button.error{
    background-color: #01579b;
    color: white;
    border-radius: 50px;
    width: 200px;
    padding: 12px 40px;
    
}
button.error:hover{
    background-color: #039be5;
    transition: .6s;
}
.return-top{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
span.error{
    color: red;
}
/*****************404**********************/
#message-area-404{
    width: 330px;
    margin: auto;
    margin-top: 100px;
}
h1.error-404{
    font-size: 10rem;
    color: #01579b;

}
#title-404{
    margin-top: 50px;
}
h2.error-404{
    font-size: 2.8rem;
}
p.error-404{
    font-size: 1.3rem;
    margin-top: 30px;
}


/*************************スマホのデザイン *************************/
@media(max-width:1100px){
    .error-message-area{
        margin-top: 30px;
        text-align: center;

    }
    .sign-in-error{
        display: block;
        margin: 0 10px;
        
    }
    .error-logo{
        width: 60%;
    }
    .error-img{
        width: 60%;
        height: 60%;
        
    }
    .error-img-area{
        text-align: center;
    }
    p.error{
        font-size: 1.2rem;
        margin-top: 30px;
    }
    .return-top{
        margin-bottom: 30px;
    }
}
