.form-area{
    border: #aaa 2px solid;
    border-radius: 5px;
    padding: 10px;
    width: 450px;
    margin-bottom: 10px;
    outline: none;
}
.form-area:focus{
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
.create{
    text-align: center;
}

div.form-content{
    margin-top: 20px;
}
p.url{
    font-size: 0.75rem;
    color: #aaa;
}
button.event{
    display: block;
    background-color: #01579b;
    color: white;
    border-radius: 50px;
    width: 200px;
    margin: auto;
    text-align: center;
    padding: 10px 0;
}
button.event:hover{
    background-color: #039be5;
    transition: .6s;
}

/*************************イベントフォームのデザイン *************************/
.event-form{
    background-color: white;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
}


/*************************イベント一覧のデザイン *************************/

div.event{
    max-width: 900px;
    word-break:break-all;/*半角文字でもwidth幅で切り返すために必要*/
    margin:  10px auto;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}
div.event a.event{
    text-decoration: none;
    background-color: #01579b;
    color: white;
    border-radius: 50px;
    padding: 5px 20px;
}
div.event a.event:hover{
    background-color: #008DBD;
    transition: .6s;
}
div.event summary{
    margin-top: 15px;
    
    
}
/* div.event:hover{
    background: #f8f8f8;
    transition: .3s;

} */
.event-content{
    /* 改行を入れる */
    white-space: pre-wrap;
    
}
div.text{
    text-align: center;
}
.date{
    display: flex;
    justify-content: space-between;
}
h2{
    margin: 15px 0 25px;
}
p.author-name{
    margin-bottom: 20px;
}

.online{
    background-color: #01579b;
    color: #fff;
    padding: 2px;
}
.offline{
    border: #01579b 1px solid;
    color: #01579b;
    padding: 2px;
}
.event-delete-button{
    color: #aaa;
    text-align: right;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.event-delete-button button{
    margin-left: 30px;
}

.no-event-delete-button{
    display: none;
}

/*************************アコーディオンのデザイン *************************/
summary{
    cursor: pointer;
    outline: none;
}
details.event{
    margin-top: 20px;
}
details[open] summary {
    color: #aaa;
}
details[open] .event-content {
    animation: fadeIn 0.6s ease;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0; /* 透明 */
      transform: translateY(-10px); /* 上から表示 */
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }


/*************************スマホのデザイン *************************/
@media(max-width:800px){
    .form-area{
        width: 100%;
        margin-bottom: 5px;
    }
    .event-form{
        margin: 10px 5px 0;
    }
    #events-area{
        margin: 0 5px;
    }
    /* footer{
        margin-bottom: 50px;
    } */
    p.url{
        font-size: 0.5rem;
    }
    nav.ft{
        display: none;
    }
    button.event{
        margin-top: 20px;
        width: 170px;
        padding: 8px 0;
    }
    h2.event{
        margin: 5px 0;
        font-size: 1.2rem;
    }
    div.event{
        margin: 10px 5px;
    }
    .event{
        font-size: 0.9rem;
    }
    p.author-name{
        margin-bottom: 10px;
    }
    .event-form{
        padding: 0;
        margin-top: -15px;
    }
    .event-delete-button{
        margin-top: 0px;
    }
    
}
